apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratings-v1
  labels:
    app: ratings
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ratings
      version: v1
  template:
    metadata:
      labels:
        app: ratings
        version: v1
    spec:
      serviceAccountName: bookinfo-ratings
      containers:
      - name: ratings
        image: 152175719540.dkr.ecr.eu-west-1.amazonaws.com/book-ecr-repo:ratings-7b7c907
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9080
        resources:
          requests:
            cpu: "25m" 
            memory: "64Mi"   
          limits:
            cpu: "300m"   
            memory: "700Mi"

---